---
name: Checkov
permissions:
  checks: read
  statuses: read
  contents: read # for actions/checkout to fetch code
on:
  pull_request:
jobs:
  checkov:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write

    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so follow-up steps can access it
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - name: Checkov GitHub Action
        uses: bridgecrewio/checkov-action@8f61ce5b8a3afb4ca94d236b75201878ded6d2cd # v12
        with:
          # This will add both a CLI output to the console and create a results.sarif file
          quiet: true
          output_format: cli,sarif
          output_file_path: results.sarif
      - name: Upload SARIF
        continue-on-error: true
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4
        with:
          sarif_file: results.sarif
