name: "Default Workflow"

permissions:
  checks: read
  statuses: read
  contents: read # for actions/checkout to fetch code

on:
  workflow_call:
    inputs:
      merge-checks:
        required: false
        type: boolean
        default: true
      checkov:
        required: false
        type: boolean
        default: true
      merge-checks-timeout:
        required: false
        type: number
        default: 120
      merge-checks-interval:
        required: false
        type: number
        default: 5

jobs:
  # This step ensures all declared jobs in all repository workflows are completed successfully.
  # So this will easy the repositories branches protections management.
  merge-checks:
    if: inputs.merge-checks == true
    runs-on: ubuntu-latest
    # Restrict permissions of the GITHUB_TOKEN.
    permissions:
      checks: read
      statuses: read
    # Docs: https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
    steps:
      - name: Merge Gatekeeper
        uses: upsidr/merge-gatekeeper@09af7a82c1666d0e64d2bd8c01797a0bcfd3bb5d # v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ignored: "check / merge-checks"
          timeout: ${{ inputs.merge-checks-timeout }}
          interval: ${{ inputs.merge-checks-interval }}
  checkov:
    if: inputs.checkov == true
    uses: ./.github/workflows/checkov.yml
