name: "Default Workflow"

permissions:
  checks: read
  statuses: read
  contents: read # for actions/checkout to fetch code

on:
  pull_request:

jobs:
  # This step ensures all declared jobs in all repository workflows are completed successfully.
  # So this will easy the repositories branches protections management.
  merge-checks:
    runs-on: ubuntu-latest
    # Restrict permissions of the GITHUB_TOKEN.
    permissions:
      checks: read
      statuses: read
    # Docs: https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
    steps:
      - name: Merge Gatekeeper
        uses: upsidr/merge-gatekeeper@09af7a82c1666d0e64d2bd8c01797a0bcfd3bb5d # v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ignored: "merge-checks"
          timeout: 120
          interval: 5
  checkov:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write

    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so follow-up steps can access it
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Checkov GitHub Action
        uses: bridgecrewio/checkov-action@8f61ce5b8a3afb4ca94d236b75201878ded6d2cd # v12
        with:
          # This will add both a CLI output to the console and create a results.sarif file
          quiet: true
          output_format: cli,sarif
          output_file_path: results.sarif

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif
