name: PR Agent

on:
  workflow_call:
    inputs:
      model:
        required: false
        type: string
        default: "gpt-3.5-turbo"

permissions:
  issues: write
  pull-requests: write
  contents: read

jobs:
  pr_agent_job:
    if: ${{ github.event.sender.type != 'Bot' }}
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
      contents: read
    steps:
      - name: Tailscale
        uses: tailscale/github-action@53acf823325fe9ca47f4cdaa951f90b4b0de5bb9 # v4
        with:
          authkey: ${{ secrets.TS_AUTH_KEY }}
          tags: tag:ci
          statedir: /tmp/tailscale-state/
      - name: PR Agent action step
        id: pragent
        uses: qodo-ai/pr-agent@main
        env:
          OPENAI__API_BASE: https://litellm.stinkyboi.com/v1
          OPENAI__KEY: ${{ secrets.LITELLM_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          config.model: ${{ inputs.model }}
          config.custom_model_max_tokens: 200000